<h1>Page 1</h1>
<p>There are {{ds.books.length}} boks in the Database</p>
<p>Pichai Sundararajan (born June 10, 1972[4]), known as Sundar Pichai (/ˈsʊndɑːr pɪˈtʃaɪ/), is an Indian-American business executive.[5] He is the chief executive officer (CEO) of Alphabet Inc. and its subsidiary Google LLC.

  Born in Madurai, India, Pichai earned his degree from the Indian Institute of Technology Kharagpur in metallurgical engineering. Moving to the United States, he attained an M.S. from Stanford University in materials science and engineering and further attained an MBA from the Wharton School of the University of Pennsylvania, where he was named a Siebel Scholar and a Palmer Scholar, respectively.[6]</p>
